<div class="container mt-2">
  <div *ngIf="friends.length > 0; else noFriends">
    <button mat-raised-button
            [matMenuTriggerFor]="menu">
      {{selectedFriend ? selectedFriend.username : 'List of Friends'}}
    </button>
    <button mat-raised-button
            color="primary"
            *ngIf="selectedFriend"
            style="margin-left: 20px"
            (click)="sendMessage()">
      Send Message
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let friend of friends" (click)="setSelectedFriend(friend)">{{friend.username}}</button>
    </mat-menu>
  </div>
  <ng-template #noFriends>You follow no Friends. Add more in the Social Tab</ng-template>

  <div *ngIf="selectedFriend" class="mt-3">
    <mat-list class="mt-2">
      <mat-list-item *ngFor="let message of selectedFriend.messages" class="mb-5 mt-1">
        <mat-card class="w-100" style="display: flex">
          <div style="flex: 1" *ngIf="message.sender != selectedFriend.id"></div>
          <div>
            <h3 matLine> {{(message.sender == selectedFriend.id) ? selectedFriend.username : 'You'}} </h3>
            <p matLine> {{message.text}} </p>
            <p matLine class="demo-2" *ngIf="message.movieId !== 0">{{message.movieId}} </p>
          </div>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</div>
