<carousel #trendingCarousel
  [images]="trendingImages"
  [height]=450
  [cellWidth]=300
  [loop]=true
  [lightDOM]=false
  [overflowCellsLimit]="4"
  [autoplay]=true
  [autoplayInterval]=3000
  [pauseOnHover]=true
>
</carousel>

<mat-tab-group mat-align-tabs="center" #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Most Popular right now">
    <p-carousel [value]="popularImages" [numVisible]="2" [numScroll]="1" [circular]="true">
      <ng-template let-movie pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="p-mb-3">
              <h2 class="p-mb-1">{{movie.original_title}} - Rating: {{movie.vote_average}}</h2>
              <img src="{{movie.path}}">
            </div>
            <div>
              <h4 class="p-mb-1">Release Date: {{movie.release_date}}</h4>
            </div>
            <h3 class="p-mb-1">{{movie.overview}}</h3>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </mat-tab>

  <mat-tab label="Find out what's best for you">
    <div class="row">
      <h2>placeholder</h2>
      <mat-form-field>
        <mat-label>placeholder</mat-label>
        <input placeholder="Password" matInput type="password" [formControl]="">
      </mat-form-field>
    </div>

    <div class="row">
      <button mat-button type="submit">
        Submit
      </button>
    </div>
  </mat-tab>

</mat-tab-group>
