<mat-tab-group mat-align-tabs="left" #tabGroup (selectedTabChange)="tabChanged($event)" *ngIf="item">
  <mat-tab label="General Info">
    <app-tv-show-detail *ngIf="!isMovie" [item]="item"></app-tv-show-detail>
    <app-movie-detail *ngIf="isMovie" [item]="item"></app-movie-detail>
    <div class="mt-4">
      <div *ngIf="loggedIn; else notLoggedIn">
        <button mat-mini-fab>{{rating | async}}</button>

        <button mat-stroked-button color="primary" (click)="likeMovie()">
          LIKE
        </button>
        <button mat-stroked-button color="primary" (click)="shareWithFriends()">
          SHARE
        </button>
        <button mat-stroked-button color="primary" (click)="addToFavorites()">
          <mat-icon *ngIf="isAlreadyFavorite">favorite</mat-icon>
          <mat-icon *ngIf="!isAlreadyFavorite">favorite_border</mat-icon>
          &emsp;ADD
        </button>
        <button mat-stroked-button color="primary" (click)="addToWatchlist()">
          <mat-icon *ngIf="isAlreadyInWatchlist">playlist_remove</mat-icon>
          <mat-icon *ngIf="!isAlreadyInWatchlist">subscriptions</mat-icon>
          &emsp;WATCH
        </button>
      </div>
      <ng-template #notLoggedIn>
        Log in or create an account to use the social features.
        <button mat-stroked-button color="primary" (click)="goToProfile()">Profile</button>
      </ng-template>
    </div>
  </mat-tab>

  <mat-tab *ngIf="!isMovie" label="Seasons">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let season of item.seasons; index as i; let last = last" [expanded]="step === 0"
                           (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{season.name}}
          </mat-panel-title>
          <mat-panel-description>
            Air Date: {{season.air_date.slice(0, 4)}}
          </mat-panel-description>
          <mat-panel-description>
            Episodes: {{season.episode_count}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <p><img class="season-info" [alt]="season.name + 'Poster'"
                  [src]="'https://www.themoviedb.org/t/p/w300_and_h450_bestv2' + season.poster_path">Overview: {{season.overview}}
          </p>
        </div>

        <mat-action-row>
          <button *ngIf="i > 0" mat-button color="warn" (click)="prevStep()">Previous</button>
          <button *ngIf="!last" mat-button color="primary" (click)="nextStep()">Next</button>
          <button *ngIf="last" mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>

  <mat-tab [label]=similarTabLabelName>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let item of itemSimilarSearchResult">
          <app-movie-card [movie]="item"></app-movie-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
