<mat-tab-group mat-align-tabs="left" #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Profile">
    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <mat-card class="col-4">
          <h1 class="font-weight-bold">Hello, {{currentUser.firstname}} :)</h1>
          <div class="row">
            <div class="col">
              Username
            </div>
            <div class="col font-weight-bold">
              {{currentUser.username}}
            </div>
            <div class="w-100"></div>
            <div class="col">
              Firstname
            </div>
            <div class="col font-weight-bold">
              {{currentUser.firstname}}
            </div>
            <div class="w-100"></div>
            <div class="col">
              Lastname
            </div>
            <div class="col font-weight-bold">
              {{currentUser.lastname}}
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Edit">
    <div class="container">
      <h2>Change Password</h2>
      <div class="row">
        <div class="col-4"></div>
        <mat-form-field class="col-4">
          <mat-label>New Password</mat-label>
          <input placeholder="Password" matInput type="password" [formControl]="passwordControl">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <button mat-raised-button
                class="col-4"
                type="submit"
                [disabled]="passwordControl.invalid"
                (click)="changePassword(); tabGroup.selectedIndex=0">
          Submit
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Delete">
    <div class="container">
      <div class="row">
        <h2>Delete Account</h2>
        <div class="col-8 offset-2">
          <mat-checkbox [(ngModel)]="deleteAccountChecked">
            Do you really want to delete you account permanently?
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <button mat-raised-button
                class="col-4 font-weight-bold"
                type="submit"
                color="warn"
                [disabled]="!deleteAccountChecked"
                (click)="deleteAccount();">
          delete account permanently :(
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

