<video autoplay [muted]=muted loop id="homeBackgroundVideo">
  <source src="{{displayVideo}}" type="video/mp4">
</video>

<div class="content">
  <button (click)="muted = !muted" mat-button><mat-icon>volume_mute</mat-icon>
    {{muted ? "Unmute Video" : "Mute Video"}}</button>
  <a class="tmdb">Streaming data powered by
    <a href="https://www.themoviedb.org/" target="_blank" class="tmdb">
      <img id="tmdbImg" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg">
    </a>
  </a>
</div>
