@import "../../../styles.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: linear-gradient(to bottom left, $color-theme-main, $color-theme-background);
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-list-base .mat-list-item {
  color: white;
}

.mat-toolbar.mat-primary {
  background: linear-gradient(to top left, $color-theme-main, $color-theme-background);
  position: sticky;
  top: 0;
  z-index: 99999;
}

#mainTitle {
  font-family: "Bradley Hand ITC";
  //font-family: "Arial Black";
  font-style: oblique;
  font-size: x-large;
  margin-top: 5px;
}

.flexExpand {
  flex: 1 1 auto;
}
