mat-card {
  width: 300px;
  margin: 20px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.card-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card-title, mat-card-subtitle {
  justify-content: center;
  display: flex;
  color: white;
  font-stretch: expanded;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  padding: 30px;
}

/*** ACCORDION ***/

.search-result-title {
  margin: 0;
}

.search-result-img {
  height: 100px;
}

.accordion-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

mat-expansion-panel-header {
  height: 100px;
}

.mat-expansion-panel-header-title {
  flex-grow: 0.2;
}
