<mat-card [style.background-image]="'url(' + movie.path + ')'">
  <mat-card-header class="card-heading" (click)="openMovieCard(movie.id)">
    <mat-card-title>
      {{movie.title ? movie.title : movie.name}}
    </mat-card-title>

    <!--Space-->
    <div style="height: 250px;"></div>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2 class="search-result-title">Description</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>Release: {{movie.release_date ? movie.release_date : movie.first_air_date}}</div>
        <div>Original Title: {{movie.original_title ? movie.original_title : movie.original_name}}</div>
        <div>Rating: {{movie.vote_average}}</div>
        <div>{{movie.overview}}</div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="white" style="background: #141414">LIKE</button>
    <button mat-button color="white" style="background: #141414">SHARE</button>
    <button mat-button color="white" style="background: #141414"
       (click)="addToFavorites()">
      <mat-icon *ngIf="isAlreadyFavorite">favorite</mat-icon>
      <mat-icon *ngIf="!isAlreadyFavorite">favorite_border</mat-icon>
      &emsp;ADD
    </button>
    <button mat-button color="white" style="background: #141414"
            (click)="addToWatchlist()">
      <mat-icon *ngIf="isAlreadyInWatchlist">playlist_remove</mat-icon>
      <mat-icon *ngIf="!isAlreadyInWatchlist">subscriptions</mat-icon>
      &emsp;WATCH
    </button>
  </mat-card-actions>
</mat-card>
