/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  margin-bottom: 2px;
}

.flexExpand {
  flex: 1 1 auto;
}

$color-theme-main: #E50914;
$color-theme-background: #141414;
