<div class="row search-bar-wrapper">
  <img
    class="search-bar-background"
    src="../../../assets/images/movie1.jpg"
    alt="search-input-background"
  >

  <div class="col-4 search-bar-content">
    <form class="example-form"
          (keydown)="enterSubmit($event)">
      <mat-form-field class="search-bar-input" appearance="fill">
        <mat-label>Movie / Series title</mat-label>
        <input matInput [formControl]="searchControl" type="text" [(ngModel)]="movieSearchValue" placeholder="Title">
        <button *ngIf="movieSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="movieSearchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>


<div class="accordion-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expand All</button>
  <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let movie of movieSearchResult">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img class="search-result-img" src="{{movie.path}}" alt="image of {{movie.original_title}}">
      </mat-panel-title>
      <mat-panel-description>
        <h2 class="search-result-title">{{movie.original_title}} </h2>
        <h2>({{movie.release_date}})</h2>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>Rating: {{movie.vote_average}}</div>
    <div>{{movie.overview}}</div>
  </mat-expansion-panel>
</mat-accordion>
