<div class="row search-bar-wrapper">
  <img
    class="search-bar-background"
    src="../../../assets/images/movie1.jpg"
    alt="search-input-background"
  >

  <div class="col-4 search-bar-content">
    <form class="example-form"
          (keydown)="enterSubmit($event)">
      <mat-form-field class="search-bar-input" appearance="fill">
        <mat-label>Movie / Series title</mat-label>
        <input matInput [formControl]="searchControl" type="text" [(ngModel)]="movieSearchValue" placeholder="Title">
        <button *ngIf="movieSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="movieSearchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>
<div #movieAnchor></div>

<div class="container" *ngIf="movieSearchResult.length > 0">
  <h1>MOVIES</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select [(value)]="movieSelected">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let genre of movieGenres" [value]="genre">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let movie of (movieSearchResult | movieFilter:movieSelected)">
      <app-movie-card [movie]="movie" [loggedIn]="loggedIn"></app-movie-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="tvShowSearchResult.length > 0">
  <h1>TV SHOWS</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Genre</mat-label>
      <mat-select [(value)]="tvShowSelected">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let genre of tvShowGenres" [value]="genre">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let show of (tvShowSearchResult | movieFilter:tvShowSelected)">
      <app-movie-card [movie]="show" [loggedIn]="loggedIn"></app-movie-card>
    </div>
  </div>
</div>
